/* Style Sheet for Portfolio Website */

.logo {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    margin-left: 30px;
}

.navbar-trans {
    background: transparent; 
}

.navbar-brand {
    font-size: 1.5em;
    margin-right: 45px !important;
}

.bar {
    color: white !important;
    font-size: 20px;
    margin-right: 5px;
}
/*
.bar:hover, .active {
    color: white !important;
    border-bottom: 3px white solid;
    display: inline;
    margin-top: 8.5px;
}*/

.bar:hover, .active {
  background-image: linear-gradient(to right, white 75%, white 75%);
  background-position: 0 2em;
  background-repeat: repeat-x;
  background-size: 8px 3px;
}
.container {
    height: 500px;
}
body {
    font-size: 16px;
}
@font-face {
    font-family: mySiteFont;
    src: url("Fonts/Allura-Regular.otf");
}

@font-face {
    font-family: myFont;
    src: url("Fonts/handwrite.ttf");
}

.icon {
    width: 30px;
    height: 30px;
}
@font-face {
    font-family: myHead;
    src: url("Fonts/nordicaclassicltext.otf");
}
#header {
    font-family: mySiteFont;
    text-align: center;
    font-size: 8em;
    font-weight: 500;
    padding-top: 100px;
    color: black;
    padding-right: 450px;
}

.intro {
    background-image: url("Images/lightpaper.jpeg");
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -30px;
}

.me {
    background-image: url("Images/design.JPG");
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 0px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#statement {
    color: black;
    text-align: center;
    font-family: myFont;
    font-size: 48px;
    letter-spacing: 3px;
    padding-right: 100px;
    padding-top: 40px;
    line-height: 1;
}

#align {
    display: inline-block;
    text-align: left;
}

.section {
    font-family: myHead;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-top: 100px;
}

hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

#conline {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px white inset;
}
.footer {
    background-color: black;
    color: white;
}

.cont {
    color: white;
}

table, tr, td {
    text-align: left;
    padding: 10px;
    padding-left: 0px;
    padding-top: 0px;
}

#num {
    padding: 0px;
}

  