/* Style Sheet for Portfolio Website */

@media screen and (min-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
    .intro {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: whitesmoke;
        background-image: url("Images/laptop.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 640px;
        resize: both;
    }

    #about {
        width: 100%;
        height: 92%;
        text-align: center;
        background-color:#c7ecee;
    }

    
    .contact {
        width: 100%;
        height: 40%;
        text-align: center;
        background-color:#130f40;
        color: white;
    }

    .contactform {
        width: 60%;
        margin: auto;
        margin-top: 5%;
        background-color:#c7ecee;
    }

    .portfolio {
        width: 100%;
        height: 40%;
        text-align: center;
        background-color: lavenderblush;
        color: black;
    }

    .gallery {
        height: 90%;
        margin: auto;
        background-color: lightblue;
        margin-top: 8%;
    }

    .thanks {
        margin: auto;
        margin-top: 5%;
        background-color:#c7ecee;
        font-size: 24px;
        text-align: center;
    }

    .white {
        background-color: #c7ecee;
    }

    .port {
        background-color: lightblue;
    }

    .foot {
        margin-top:auto;
        text-align: center;
        height: 8%;
        padding-bottom: 1%;
        padding-top: 1%;
        background-color: #dff9fb;
    }

    .foot table {
        margin: auto;
    }

    td, th {
        padding-left: 10px;
        padding-right: 10px;
    }
    

    .nav {
        list-style-type: none;
        margin: 0;
        width: 100%;
        padding: 20px;
        overflow: hidden;
        position: fixed;
        top: 0;
    }

    .nostick {
        position: absolute;
    }

    .nav li {
        float: left;
    }

    li a, li a:visited {
        display: block;
        color: black;
        text-align: center;
        text-decoration: none;
        padding-right: 6px !important;
        padding-left: 6px !important;
        padding-bottom: 5px !important;
        margin-right: 5px !important;
        margin-left: 5px;
        font-size: 22px;
    }

    li a:hover {
        color: black;
        border-bottom: 2px solid black;
    }

    .cont {
        display: block;
        text-align: center;
        text-decoration: none;
        padding-right: 6px !important;
        padding-left: 6px !important;
        padding-bottom: 5px !important;
        margin-right: 5px !important;
        margin-left: 5px;
        font-size: 22px;
        color: white !important;
    }

    .cont:hover, .active {
        color: white;
        border-bottom: 2px solid white;
    }

    .activeBlack {
        color: black;
        border-bottom: 2px solid black;
    }


    body {
        display:flex; 
        flex-direction:column; 
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        background-color: #F8F8FF;
    }

    .logo {
        float: left;
        width: 60px;
        height: 60px;
        resize: both;
        padding: 10px;
        vertical-align: middle;
    }


    .words {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        font-size: 28px;
    }

    .descr h1 {
        font-size: 28px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .descr p {
        margin: 5%;
        text-align: left;

    }

    #arrow span {
        position: absolute;
        bottom: 4%;
        margin: auto;
        width: 24px;
        height: 24px;
        left: 49%;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
    }

    #arrow2 span {
        position: absolute;
        bottom: -92%;
        margin: auto;
        width: 24px;
        height: 24px;
        left: 49%;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        box-sizing: border-box;
    }

    #arrow span:hover {
        width: 28px;
        height: 28px;
        left: 49%;
    }  
    
    #arrow2 span:hover {
        width: 28px;
        height: 28px;
        left: 49%;
    }
    
    p {
        margin-bottom: 1% !important;
    }

    .classes {
        list-style-type: none;
        text-align: left;
        margin-left: 10%;
        padding: 0px;
    }
    
    .picofme {
        height: 275px;
        width: 400px;
        float: right;
        resize: both;
        margin-left: 10%;
    }

    .image {
        width: 300px;
        height: 200px;
    }

    
    .caption {
        position: absolute; 
        bottom: 0; 
        background: rgba(0, 0, 0, 0.8);
        color: white; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .thumbnail {
        position: relative;
    }
    .thumbnail:hover .caption {
        opacity: 1;
    }

    .row {
        margin-bottom: 30px;
    }

}


@media screen and (max-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of less than 800px*/
    body {
        background-color: yellow;
    }
}